.banner
    img.banner-img(src="./images/png/banner.png", alt="banner", width="1512")
    .wide-wrapper.banner-content
        div.banner-left
            h1.title.banner-title 
                | GameFi
                br
                | short video
            strong.strong-md platform
            p.banner-text Watch. Play. Earn
            a.banner-link(href="#")
                img(src="./images/svg/google-play.svg", alt="icon google play")
            p.banner-text-md Pre-registration in Google Play
        ul.list.banner-list
            li.banner-item
                a.banner-link(href="#")
                    img.social-icon(src="./images/svg/discord.svg", alt="icon discord")
            li.banner-item
                a.banner-link(href="#")
                    img.social-icon(src="./images/svg/telegram.svg", alt="icon telegram")
            li.banner-item
                a.banner-link(href="#")
                    img.social-icon(src="./images/svg/twitter.svg", alt="icon twitter")
            li.banner-item
                a.banner-link(href="#")
                    img.social-icon(src="./images/svg/facebook.svg", alt="icon facebook")
            li.banner-item
                a.banner-link(href="#")
                    img.social-icon(src="./images/svg/instagram.svg", alt="icon instagram")
            li.banner-item
                a.banner-link(href="#")
                    img.social-icon(src="./images/svg/medium.svg", alt="icon medium")