header
    div.wide-wrapper.header
        a(href="#") 
            img.logo(src='./images/png/logo.png' alt='logo' width='92')
        nav
            ul.list.navigation-list
                li.navigation-item
                    a.navigation-link(href="#") About us
                li.navigation-item
                    a.navigation-link(href="#") Roadmap
                li.navigation-item
                    a.navigation-link(href="#") Documents
                li.navigation-item
                    a.navigation-link(href="#") F.A.Q.
                li.navigation-item
                    a.navigation-link(href="#")
                    strong.strong-xs Buy NFT glasses
        div.header-right
            div.indicator
                img.indicator-icon(src="./images/png/pepper.png", alt="pepper")
                div
                    span.indicator-name CHEEL
                    span.indicator-price $8,00
            div.indicator
                img.indicator-icon(src="./images/png/glasses.png", alt="glasses")
                div
                    span.indicator-name LEE
                    span.indicator-price $8,00
            div
                img.certik-img(src="./images/png/certik.png", alt="certik")
            div.language-selector
                label(for="language-select")
                select#language-select(name="languages")
                    option(value="English" selected) EN
                    option(value="Russian") RU