main
    div.wrapper
        section.section
            h2.title.mission-title
                strong.strong-lg Cheelee's
                |  mission
            div.mission-container
                p.mission-text Users spend an average of 2.5 hours daily on social networks and get nothing fоr it. We believe that this is unfair
                p.mission-text
                    em.em-md Our mission 
                    | is to provide everyone with the opportunity to monetize time in social networks
            h3.title.title-sm
                strong Cheelee
                |  works within the "Attention Economy" framework
            div.desc-container
                p.desc-text
                    | Other social media consider a user as an information and advertising influence target, 
                    em.em-sm but a Cheelee user is a full system member, partner and beneficiary 
                    br
                    br
                    em.em-sm The Attention Economy 
                    | sees human attention as a scarce commodity making it a new oil! The founder of this concept is the Nobel laureate Herbert Simon
                p.desc-text
                    | The main idea is that attention is converted into income with digital platforms. You pay your attention to what you want, and get paid for it. Your attention has a certain cost.
                    br
                    br
                    | Through the GameFi mechanics, Cheelee’s users earn together with the platform by converting their attention into money
        section.section
            ol.instruction-list
                li.instruction-img
                    img(src="./images/png/screen.png", alt="screen", width="723px")
                li.instruction-item
                    | Sign-up and get your
                    strong.strong-sm  free NFT glasses
                li.instruction-item
                    | Watch the feed and get the boxes
                    strong.strong-sm  with LEE tokens
                li.instruction-item
                    | Buy your NFT glasses and
                    strong.strong-sm  get LEE tokens
                    |  directly when watching the feed
                    p.text-sm  The higher the rarity of your NFT glasses, the more points you get when leveling them up - the more tokens you can earn
                    img.instruction-token-img(src="./images/png/token.png", alt="token")
                li.instruction-item
                    | Upgrade your
                    strong.strong-sm  NFT glasses
                li.instruction-item
                    p.instruction-text
                        strong.strong-sm Buy additional NFT glasses
                        |  to increase the amount of Attention and rewarded time of watching the feed
                        p.text-sm 1 Attention =
                            em.em-sm  10 minutes
                            |  of rewarded feed viewing
        section.section.box-section
            div
                h2.title.box-title
                    | Watch the videos and
                    strong.strong-lg  get the boxes
                p.text-sm While watching the feed you can get boxes with NFT or LEE tokens
            img(src="./images/png/box.png", alt="box")
    div.wide-wrapper
        section.buy-section
            p.buy-text
                | Don't miss the
                strong.strong-sm  Presale
            button.btn Buy NFT glasses
    .wrapper
        section.section.media-section
            img.media-img(src="./images/png/media.png", alt="media" width="1088px")
            div.media-container
                h3.title.media-title
                    | Cheelee team has
                    strong.strong-sm  already launched product
                p.text-sm The project is based on the already launched in 2021 short video platform - NUTSon (1.5M users, 33% engagement rate and 15K videos created daily)